@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ramche";
  src:
    url("/font/Ramche.ttf") format("truetype"),
    url("/font/Ramche.otf") format("opentype");
  font-weight: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "ramche", sans-serif;
  }
}

@layer components {
  .retro-button {
    @apply bg-neutral-300 border-t-white border-l-white border-b-neutral-500 border-r-neutral-500;
  }

  .retro-button-reverse {
    @apply border-t-neutral-500 border-l-neutral-500 border-r-white border-b-white;
  }

  .retro-button-active {
    @apply active:border-t-neutral-500 active:border-l-neutral-500 active:border-r-white active:border-b-white;
  }
}
